/*
* @file dual-customization.scss
* wwuzen-dual-art
*/

@import "base";

/*****************************************************************************
*
* MAIN MENU
*
****************************************************************************/

.main-nav .menu {

  #art-menu-1 {
    background-color: $wwuRed;

    &:hover,
    &:focus,
    &:active {
      @include transition(.1s);
      background-color: #ddd;

      &,
      > a {
        color: $wwuRed;
      }
    }
  }

  #art-menu-2 {
    background-color: $wwuGreen;

    &:hover,
    &:focus,
    &:active {
      @include transition(.1s);
      background-color: #ddd;

      &,
      > a {
        color: $wwuGreen;
      }
    }
  }

  #art-menu-3 {
    background-color: $wwuOceanBlue;

    &:hover,
    &:focus,
    &:active {
      @include transition(.1s);
      background-color: #ddd;

      &,
      > a {
        color: $wwuOceanBlue;
      }
    }
  }

  .active#art-menu-1 {
    background-color:#ddd;
    @include transition(.5s);

    &:hover,
    &:focus,
    &:active {
      @include transition(.1s);
      background-color:#eee;
    }

    .active {
      color:$wwuRed;
    }
  }

  .active#art-menu-2 {
    @include transition(.5s);
    background-color:#ddd;

    &:hover,
    &:focus,
    &:active {
      background-color:#eee;
      @include transition(.1s);
    }

    .active {
      color:$wwuGreen;
    }
  }

  .active#art-menu-3 {
    @include transition(.5s);
    background-color:#ddd;

    &:hover,
    &:focus,
    &:active {
      @include transition(.1s);
      background-color:#eee;
    }

    .active {
      color:$wwuOceanBlue;
    }
  }
}

/*******************************************************************************
*
* ART HOME PAGE
*
******************************************************************************/



.cfpa-department-container {
  $zen-column-count: 3;
  $zen-gutter-width: 20px;

  .cfpa-department-top-left {
    @include zen-grid-item(2, 1);
    @include zen-clear(none);
  }

  .cfpa-department-top-right {
    @include zen-grid-item(1, 3);
    @include zen-clear(none);
  }
}



@media all and (max-width: $display-medium) {

  .cfpa-department-container {
    $zen-column-count: 1;

    .cfpa-department-top-left {
      @include zen-grid-item(1,1);
      @include zen-clear();
    }

    .cfpa-department-top-right {
      @include zen-grid-item(1, 1);
      @include zen-clear();

      .cfpa-department-bottom-left {
        @include zen-grid-item(1, 1);
        @include zen-clear();
      }
    }
  }
}

.cfpa-department-bottom-left h2,
.cfpa-department-bottom-middle h2,
.cfpa-department-bottom-right h2 {
  border-bottom-color: $wwuOceanBlue;
}

.view-featured .views-field-title span:before {
  visibility: hidden;
  display: none;
}

.site-name {
  text-transform: none;
  color: white;
}
